body {
    background-color: tomato;
}
.container {
    width: 400px;
}
.todos li {
    background-color: rgba(0, 0, 0, 0.34);
    color: white;
}
input[type=text],
input[type=text]:focus {
    border: none;
    max-width: 400px;
    background-color: rgb(0, 0, 0 ,0.2);
}
.delete {
    cursor: pointer;
}
.filtered { 
    display: none !important;
}
h1.timer-clock {
    padding: 18px;
}
section.container.text-center {
    display: flex;
    justify-content: space-around;
    margin: 0px -11px;
}
button.bg-warning {
    padding: 9px;
    border-radius: 5px;
}

section.bg-dark.text-white.text-center.countdown {
    border-radius: 5px;
}
input.form-control.m-auto.text-nlack {
    width: 100px;
}